.star-duke-wrapper {
  margin-top: 36px;
  padding: 0 15px;

  .space-1 {
    height: 14px;
  }

  .space-2 {
    height: 15px;
  }

  .space-3 {
    height: 20px;
  }

  .description-1-container {
    width: 222px;
    margin: auto;
  }

  .description-2-container {
    width: 324px;
    margin: auto;
  }
}