.pha-tab-button-wrapper {
  width: 110px;
  height: 21px;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;

    &.active {
      opacity: 1;
    }
  }

  span {
    color: #FFFFFF;
    font-size: 10px;
    font-family: "Segoe UI-Bold";
    font-weight: bold;
    line-height: 21px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
}