.road-map-container {
  margin-top: 36px;
  padding: 0 15px;

  .tab-list-container {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }

  .time-axis-container {
    margin-top: 36px;
  }

  .axis-image {
    width: 100%;
  }
}